body {
  background-color: #87ceeb;
}

.quote-box {
  margin-top: 25vh;
  text-align: center;
  border-radius: 50px;
  border: none;
}

.title {
  font-family: "Stylish", sans-serif;
  margin: 0 auto;
}

.text {
  font-family: "Montaga", serif;
}

.author {
  font-family: "Montaga", serif;
}
