body {
  background-color: #87ceeb;
}

.quote-box {
  margin-top: 25vh;
  text-align: center;
  border-radius: 100px;
  border: none;
}

.title {
}

#text {
  color: orange;
}

#author {
  color: orange;
}
